.about-section{
    margin-top: 120px;
    margin-left: 15px;
    position: left;
    font-size: 20px;


}
.about-title{
    margin-top: 120px;
    margin-left: 15px;
    position: left;
    font-size: 20px;

}
.column{
margin-top: 50px;

}
.column-down{

    margin-top: 0.1%;
}
.tekst{
margin-left: 15px;

}
.picture{
    size: 100%;
    position: relative;
    position: right;


}
.card-right{
   margin-left: 100%;


}
body{
    color:black !important;
}

.header-area{
    background-color: rgb(109, 211, 206);
}

#container_custom{
    border-bottom: solid black 1px;
}

.homepage_content p{
    font-size:17px
}

.homepage_content iframe{
    margin:auto !important;
    width:760px;
    height:415px;
}

@media (max-width: 991px) {
    .homepage_content iframe{
        margin:auto !important;
        width: 500px;
        height:370px;
    }
}