html,
body {
    margin: 0;
    height: 100%;
    color: black !important;
    background-image: url("../images/opatia-backgroundv1.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.about-section {
    margin-left: 15px;
    position: left;
    font-size: 20px;
}

.about-title {
    padding-top: 120px;
    margin-left: 15px;
    position: relative;
    font-size: 20px;
}

.column {
    margin-top: 50px;
}

.column-down {
    margin-top: 0.1%;
}

.tekst {
    margin-left: 15px;
}

video{
    width: 100%;
  max-height: 100%;
}







/* NAVBAR */

.navbar{
    border-bottom: 1px solid black;
}

@media (max-width: 991px) {
    .navbar {
        margin-top:0;
        background-color: white;
    }
}

/* UNIVERSAL */

.content_style p {
    font-size: 17px;
}

.content_style {
    background: rgba(177, 219, 225, 0.9);
    border-radius: 20px;
}


/* HOME */

.content_style iframe {
    margin: auto !important;
    width: 760px;
    height: 415px;
}

#abbazia-video{
    text-align: center;
    margin:auto;
    display: block;
    margin-top: 40px !important;
    display: block;
    width: 800px;
    margin-top: 30px;
}


@media (max-width: 991px) {
    .content_style iframe {
        margin: auto !important;
        width: 500px;
        height: 370px;
    }
}

/* ABOUT US */

.about-title p {
    color: black;
    font-size: larger;
    margin-bottom: 25px;
}

.align-content-right {
    text-align: right;
}

.container .card , .contact-container{
    background-color: rgba(245, 245, 245, 0.9) !important;
    border-radius: 10px;
    min-height: 170px;
}

.picture {
    size: 100%;
    position: relative;
    position: right;
}

.card-right {
    margin-left: 100%;
}

/* HOTELS | HOUSES*/

* {box-sizing:border-box}

.mySlides img{
    max-height: 500px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.center{

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(245, 245, 245, 0.9);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background: rgba(87, 129, 135, 0.6);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text p{
    background:rgba(245, 245, 245, 0.9);
    color: black;
    border-radius: 10px ;
    margin: auto;
    width: 20%;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
    background: rgba(87, 129, 135, 0.6);
    border-radius: 20px;
}

/* OTHER ACTIVITIES */

.other_activites_style p{
    margin:auto;
}

.other-activities-header{
    padding-top: 50px;
    margin-left: 15px;
    position: relative;
    font-size: 20px;
}

.other-activities-header p {
    color: black;
    font-size: larger;
    margin-bottom: 25px;
}

/* CONTACT*/

.contact-container {
    background-color: rgba(79, 181, 176, 0.5);
    border-radius: 15px;
}